.about-wrapper {
  display: flex;
  flex-direction: column ;
  min-height: 50vh;
  width: 50vw;
  justify-content: space-between;
  margin: auto;
}

.about-me {
  padding: 15px;
  margin: 20px;
  align-self: center;
  border: 2px solid $primary-color;
  border-radius: 10px;
  p {
    margin-top: 15px;
    text-align: justify;
    line-height: 2.8em;
    font-size: .9rem;
    margin: .7rem auto;
  }
}
.prof-pic {
  height: 319px;
  align-self: center;
  width: 269px;
  border-radius: 50%;
  border: 4px solid #565264;
}



