.about-bio {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: space-around;
  margin-top: 25px;

  p {
    margin-top: 15px;
    text-align: center;
    line-height: 2em;
    font-size: 16px;
  }

}

.prof-pic {
      height: 250px;
      width: 200px;
      border-radius: 50%;
      border: 4px solid #565264;
      margin: 15px;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  padding: 150px;

}


