main {
  display: flex;
  flex-flow: column;
  align-items: center;
}


img {
  height: 416px;
  border-radius: 48%;
}

.bio {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  padding: 25px;

  p {
    margin-top: 10px;
  }
}
