main {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 80vh;
  width: auto;

  img {
    position: relative;
    z-index: -1;
    height: 60vh;
    width: auto;
  }

  h3 {
    margin: 8px auto;
  }
}

.bio {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 18px;
  color: #565264;
  padding: 25px;
  width: auto

  p {
    margin-top: 10px;
  }
}
