main {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url('../../images/Singularity_HQ.jpg') no-repeat center fixed;
  background-size: contain;
  height: 100vh;
}


img {
  height: 416px;
}

.bio {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 20px;
  color: #565264;
  padding: 25px;

  p {
    margin-top: 10px;
  }
}
